<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="component/header :: header"></div>

<div class="container">
    <div th:insert="component/popup_message :: popup_message"></div>
    <form onsubmit="submitEdit()">
        <div class="input-group mb-4">
            <span class="input-group-text">Current Password:</span>
            <input type="password" id="current-password" name="currentPassword" aria-label="currentPassword"
                   aria-describedby="basic-addon1" class="form-control">
        </div>

        <div class="input-group mb-4">
            <span class="input-group-text">New Password:</span>
            <input type="password" id="new-password" name="newPassword" aria-label="newPassword"
                   aria-describedby="basic-addon1" class="form-control">
        </div>

        <input type="submit" value="Edit" class="btn btn-primary input-group mb-4">
    </form>
</div>

<script>
    function submitEdit() {
        event.preventDefault(); // Prevent the default form submission

        let token = localStorage.getItem('accessToken');
        if (token === null) {
            showError('You are not logged in');
            return;
        }

        let rawUser = localStorage.getItem('user');
        if (rawUser === null) {
            showError('User not found');
            return;
        }
        let user = JSON.parse(rawUser);
        if (user.id === null) {
            showError('User id not found');
            return;
        }

        // Get the values of input fields
        let currentPassword = document.getElementById("current-password").value;
        let newPassword = document.getElementById("new-password").value;

        // Create an object with the data to be sent in the request body
        let data = {
            currentPassword: currentPassword,
            newPassword: newPassword
        };

        // Make a POST request to the register endpoint
        fetch('/api/user/password/' + user.id, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    showSuccessMessageAndRedirect(3);
                } else {
                    showError('Password editing failed ' + response.status + ' ' + response.statusText);
                }
            })
            .catch(error => {
                showError(error);
                console.error('Error:', error);
            });
    }

    function showSuccessMessageAndRedirect(second) {
        showSuccess('Password editing successful. redirecting to user page in ' + second + ' seconds');
        setTimeout(function () {
            showSuccessMessageAndRedirect(second - 1);
        }, 1000);
        if (second === 0) {
            window.location.href = '/user';
        }
    }
</script>

</body>
</html>