<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLM | Edit User</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="component/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <h4 class="display-3">Edit User</h4>
            <br>
            <div th:insert="component/popup_message :: popup_message"></div>
            <br>
            <form onsubmit="submitEdit()">
                <div class="input-group mb-4">
                    <span class="input-group-text">Username:</span>
                    <input type="text" id="username" name="username" aria-label="username"
                           aria-describedby="basic-addon1" class="form-control" disabled>
                </div>

                <div class="input-group mb-4">
                    <span class="input-group-text">Full Name:</span>
                    <input type="text" id="fullName" name="fullName" aria-label="fullName"
                           aria-describedby="basic-addon1" class="form-control">
                </div>

                <div class="input-group mb-4">
                    <span class="input-group-text">Department:</span>
                    <input type="text" id="department" name="department" aria-label="department"
                           aria-describedby="basic-addon1" class="form-control">
                </div>

                <input type="submit" value="Edit" class="btn btn-primary input-group mb-4">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script src="/js/app-script.js"></script>
<script>
    function fetchUserData() {
        getUser().then(data => {
            document.getElementById('fullName').value = data.fullName;
            document.getElementById('username').value = data.username;
            document.getElementById('department').value = data.department;
        }).catch(error => {
            showError('Failed to fetch user data: ' + error);
        });
    }

    fetchUserData();

    function submitEdit() {
        event.preventDefault(); // Prevent the default form submission

        let token = localStorage.getItem('accessToken');
        if (token === null) {
            showError('You are not logged in');
            return;
        }

        let rawUser = localStorage.getItem('user');
        if (rawUser === null) {
            showError('User not found');
            return;
        }
        let user = JSON.parse(rawUser);
        if (user.id === null) {
            showError('User id not found');
            return;
        }

        // Get the values of input fields
        let fullName = document.getElementById("fullName").value;
        let department = document.getElementById("department").value;

        // Create an object with the data to be sent in the request body
        let data = {
            fullName: fullName,
            department: department
        };

        data.password = data.password === '' ? null : data.password;

        // Make a POST request to the register endpoint
        postRequest('/api/user/' + user.id, data)
            .then(_ => {
                showSuccessMessageAndRedirect(3);
            })
            .catch(error => {
                showError('User editing failed ' + error);
                console.error('Error:', error);
            });
    }

    function showSuccessMessageAndRedirect(second) {
        showSuccess('Editing successful. redirecting to user page in ' + second + ' seconds');
        setTimeout(function () {
            showSuccessMessageAndRedirect(second - 1);
        }, 1000);
        if (second === 0) {
            window.location.href = '/user';
        }
    }
</script>
</body>
</html>