<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLM</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="component/header :: header"></div>
<div class="container">
    <div th:insert="component/popup_message :: popup_message"></div>
    <div class="row m-3">
        <div class="col-lg"></div>
        <div class="col-lg-7">
            <div class="d-flex justify-content-center">
                <img class="rounded" id="user-image" alt="Profile Picture" style="height: 200px; width: 200px; image-rendering: pixelated">
            </div>
            <br>
            <input hidden="hidden" type="file" id="studentPictureInput" onchange="saveImage()">
            <div class="row"><a class="btn btn-primary"
                                onclick="document.getElementById('studentPictureInput').click()">
                Upload New Profile Picture</a></div>
            <div class="row"><a class="btn btn-primary my-2" href="/user/edit">Edit User Details</a></div>
            <div class="row"><a class="btn btn-primary" href="/user/changePassword">Change Password</a></div>
            <hr>
            <div class="row">
                <div class="d-flex">
                    <div class="flex-column fs-5 fw-bold me-auto">Username</div>
                    <div class="flex-column fs-5" id="user-prop-username"></div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex">
                    <div class="flex-column fs-5 fw-bold me-auto">Full Name</div>
                    <div class="flex-column fs-5" id="user-prop-name"></div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex">
                    <div class="flex-column fs-5 fw-bold me-auto">Department</div>
                    <div class="flex-column fs-5" id="user-prop-department"></div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex">
                    <div class="flex-column fs-5 fw-bold me-auto">Roles</div>
                    <div class="flex-column fs-5" id="user-prop-roles"></div>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-lg"></div>
        <div class="row">
            <div class="fs-3">Reservations</div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Computer</th>
                        <th>Start</th>
                        <th>Duration</th>
                        <th>returned</th>
                    </tr>
                    </thead>
                    <tbody id="userReservationTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/app-script.js"></script>
<script>
    function fetchUserData() {
        getUser().then(data => {
            document.getElementById('user-prop-name').innerText = data.fullName;
            document.getElementById('user-prop-username').innerText = data.username;
            document.getElementById('user-prop-department').innerText = data.department;
            document.getElementById('user-prop-roles').innerText = data.roles;
            document.getElementById('user-image').src = data.picturePath;
        })
            .catch(error => {
                showError('Failed to fetch user data: ' + error);
            });
    }

    function fetchReservations() {
        getRequest('/api/users-reservation').then(data => {
            let table = document.getElementById('userReservationTable');
            table.innerHTML = '';
            data.forEach(reservation => {
                let row = document.createElement('tr');
                row.innerHTML = `
                    <td>${reservation.computer.brand} - ${reservation.computer.model}</td>
                    <td>${reservation.dateFormatted}</td>
                    <td>${reservation.duration} days</td>
                    <td>${reservation.isReturned}</td>
                `;
                table.appendChild(row);
            });
        })
            .catch(error => {
                showError('Failed to fetch reservations: ' + error);
            });
    }

    fetchUserData();
    fetchReservations();
</script>

<script>
    function saveImage() {
        event.preventDefault(); // prevent form submission

        let picture = document.getElementById("studentPictureInput").files[0];

        let data = new FormData();
        data.append('picture', picture);

        postRequest('/api/user/picture', data, false).then(_ => {
            showSuccess("Image added successfully");
            fetchUserData();
        }).catch(error => {
            showError('Error when adding image: ' + error.message);
        });
    }
</script>

</body>
</html>
