<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLM</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="component/header :: header"></div>
<div class="container">
    <div class="container">
        <div th:insert="component/popup_message :: popup_message"></div>
        <div class="row">
            <div class="col">
                <img src="https://via.placeholder.com/150" alt="Profile Picture">
                <br>
                <a class="btn btn-primary">Upload Profile Picture</a>
                <br>
                <a class="btn btn-primary" href="/user/edit">Edit User Details</a>
                <a class="btn btn-primary" href="/user/edit">Change Password</a>
            </div>
            <div class="col">
                <p id="user-prop-name">Full Name</p>
                <p id="user-prop-username">Username</p>
                <p id="user-prop-department">Department</p>
                <p id="user-prop-roles">Roles</p>
            </div>
        </div>
    </div>
</div>

<script src="/js/app-script.js"></script>
<script>
    function fetchUserData() {
        getUser().then(data => {
            document.getElementById('user-prop-name').innerText = 'Full Name: ' + data.fullName;
            document.getElementById('user-prop-username').innerText = 'Username: ' + data.username;
            document.getElementById('user-prop-department').innerText = 'Department: ' + data.department;
            document.getElementById('user-prop-roles').innerText = 'Roles: ' + data.roles;
        })
            .catch(error => {
                showError('Failed to fetch user data: ' + error);
            });
    }

    fetchUserData();
</script>

</body>
</html>
