<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CLM</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="component/header :: header"></div>
<div class="container">
    <div th:insert="component/popup_message :: popup_message"></div>
    <button class="btn btn-primary admin-only-element" data-bs-toggle="modal" data-bs-target="#addComputer">Add
        Computer
    </button>
    <br class="admin-only-element"><br class="admin-only-element">
    <table class="table">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="computerTable"></tbody>
    </table>
</div>

<!-- Add Computer Modal -->
<div class="modal fade" id="addComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="addComputer()">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="computerAddBrand" class="form-label">Brand</label>
                        <input type="text" class="form-control" id="computerAddBrand" name="brand" placeholder="Brand">
                    </div>
                    <div class="mb-3">
                        <label for="computerAddModel" class="form-label">Model</label>
                        <input type="text" class="form-control" id="computerAddModel" name="model" placeholder="Model">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button id="addComputerCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Computer Modal -->

<!-- Update Computer Modal -->
<div class="modal fade" id="updateComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update Computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="updateComputer()">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="brand" id="computerUpdateBrand"
                               placeholder="Brand">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="model" id="computerUpdateModel"
                               placeholder="Model">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button id="updateComputerCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Update Computer Modal -->

<!-- Delete Computer Modal -->
<div class="modal fade" id="deleteComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="deleteComputer()">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="computerDeleteBrand" placeholder="Brand" disabled>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="computerDeleteModel" placeholder="Model" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button id="deleteComputerCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Computer Modal -->

<!-- Reservation Computer Modal -->
<div class="modal fade" id="reservationComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Reserve a computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="reservationForm" th:action="@{/reservation}" method="post">
                <div class="modal-body">
                    <!-- dummy computer input. shows computer name -->
                    <div class="mb-3">
                        <input type="text" class="form-control" id="computerReserveInputDummy" placeholder="Name"
                               disabled>
                    </div>

                    <!-- computer input. keeps computer id -->
                    <input id="computerReserveInput" hidden="hidden" name="computerId">

                    <!-- student dropdown menu input -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="studentReserveInput">Student</label>
                        <select class="form-select" id="studentReserveInput" name="studentId">
                            <option th:each="student:${students}"
                                    th:text="|${student.getName()} - ${student.getDepartment()}|"
                                    th:value="${student.getId()}"></option>
                        </select>
                    </div>

                    <!-- date input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="date">Date</span>
                        <input type="date" class="form-control" aria-label="date" aria-describedby="date"
                               name="reservationDate">
                    </div>

                    <!-- duration in days input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="day">Day</span>
                        <input type="text" class="form-control" placeholder="Day" aria-label="day"
                               aria-describedby="day" name="duration">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Reservation Computer Modal -->

<script src="/js/app-script.js"></script>
<script>
    hideAdminOnlyElements();

    function fetchComputers() {
        getRequest('/api/computer')
            .then(data => {
                let computers = data;
                let computerTable = document.getElementById('computerTable');
                computerTable.innerHTML = '';
                computers.forEach(computer => {
                    let row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${computer.brand}</td>
                        <td>${computer.model}</td>
                        <td>
                            <button class="btn btn-primary admin-only-element" onclick="onUpdateClick(${computer.id},'${computer.brand}','${computer.model}')" data-bs-toggle="modal" data-bs-target="#updateComputer">Update</button>
                            <button class="btn btn-danger admin-only-element" onclick="onDeleteClick(${computer.id},'${computer.brand}','${computer.model}')" data-bs-toggle="modal" data-bs-target="#deleteComputer">Delete</button>
                            <button class="btn btn-warning" onclick="onReserveClick(${computer.id},'${computer.brand}','${computer.model}')" data-bs-toggle="modal" data-bs-target="#reservationComputer">Reserve</button>
                        </td>
                    `;
                    computerTable.appendChild(row);
                });
                hideAdminOnlyElements();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    fetchComputers()
</script>

<script>
    let selectedComputerId = null;

    function onUpdateClick(id, brand, model) {
        selectedComputerId = id;
        document.getElementById("computerUpdateBrand").value = brand;
        document.getElementById("computerUpdateModel").value = model;
    }

    function onDeleteClick(id, brand, model) {
        selectedComputerId = id;
        document.getElementById("computerDeleteBrand").value = brand;
        document.getElementById("computerDeleteModel").value = model;
    }

    function onReserveClick(id, brand, model) {
        document.getElementById("computerReserveInputDummy").value = brand + " - " + model;
        document.getElementById("computerReserveInput").value = id;
    }
</script>

<script>
    function addComputer() {
        event.preventDefault(); // Prevent the default form submission

        let brand = document.getElementById("computerAddBrand").value;
        let model = document.getElementById("computerAddModel").value;

        let data = {
            brand: brand,
            model: model
        };

        postRequest('/api/computer', data)
            .then(response => {
                fetchComputers();
                document.getElementById('addComputerCancel').click();
                showSuccess('Computer added successfully');
            })
            .catch(error => {
                document.getElementById('addComputerCancel').click();
                showError('Error adding computer: ' + error.message);
                console.error('Error:', error);
            });
    }

    function updateComputer() {
        event.preventDefault(); // Prevent the default form submission

        let brand = document.getElementById("computerUpdateBrand").value;
        let model = document.getElementById("computerUpdateModel").value;

        let data = {
            brand: brand,
            model: model
        };

        putRequest('/api/computer/' + selectedComputerId, data)
            .then(response => {
                fetchComputers();
                document.getElementById('updateComputerCancel').click();
                showSuccess('Computer updated successfully');
            })
            .catch(error => {
                document.getElementById('updateComputerCancel').click();
                showError('Error updating computer: ' + error.message);
                console.error('Error:', error);
            });
    }

    function deleteComputer() {
        event.preventDefault(); // Prevent the default form submission

        deleteRequest('/api/computer/' + selectedComputerId)
            .then(response => {
                fetchComputers();
                document.getElementById('deleteComputerCancel').click();
                showSuccess('Computer deleted successfully');
            })
            .catch(error => {
                document.getElementById('deleteComputerCancel').click();
                showError('Error deleting computer: ' + error.message);
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>