<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div th:insert="components/header :: header(Computers)"></div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Computer</button>
    <br><br>
    <table class="table">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="computer : ${computers}">
            <td th:text="${computer.getBrand()}">{brand}</td>
            <td th:text="${computer.getModel()}">{model}</td>
            <td>
                <button class="btn btn-primary">Update</button>
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-secondary">Reserve</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="Name" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <label for="City" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="City" placeholder="City">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                <form>
        </div>
    </div>
</div>

</body>
</html>
