<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div th:insert="components/header :: header(Computers)"></div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addComputer">Add Computer</button>
    <br><br>
    <table class="table">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="computer : ${computers}">
            <td th:text="${computer.getBrand()}">{brand}</td>
            <td th:text="${computer.getModel()}">{model}</td>
            <td>
                <button class="btn btn-primary" th:attr="onclick=|onUpdateClick(${computer.getId()},'${computer.getBrand()}','${computer.getModel()}')|" data-bs-toggle="modal" data-bs-target="#updateComputer">Update</button>
                <button class="btn btn-danger" th:attr="onclick=|onDeleteClick(${computer.getId()},'${computer.getBrand()}','${computer.getModel()}')|" data-bs-toggle="modal" data-bs-target="#deleteComputer">Delete</button>
                <button class="btn btn-secondary" th:attr="onclick=|onReserveClick(${computer.getId()},'${computer.getBrand()}','${computer.getModel()}')|" data-bs-toggle="modal" data-bs-target="#reservationComputer">Reserve
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Add Computer Modal -->
<div class="modal fade" id="addComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/computer}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Brand</label>
                        <input type="text" class="form-control" id="Name" name="brand" placeholder="Brand">
                    </div>
                    <div class="mb-3">
                        <label for="City" class="form-label">Model</label>
                        <input type="text" class="form-control" id="City" name="model" placeholder="Model">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Computer Modal -->

<!-- Update Computer Modal -->
<div class="modal fade" id="updateComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update Computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="updateForm" th:action="@{/computer}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="brand" id="brandUpdateInput" placeholder="Brand">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="model" id="modelUpdateInput" placeholder="Model">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Update Computer Modal -->

<!-- Delete Computer Modal -->
<div class="modal fade" id="deleteComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteForm" th:action="@{/computer}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="brandDeleteInput" placeholder="Brand" disabled>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="modelDeleteInput" placeholder="Model" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Computer Modal -->

<!-- Reservation Computer Modal -->
<div class="modal fade" id="reservationComputer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Reserve a computer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="reservationForm" th:action="@{/reservation}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="computerReserveInputDummy" placeholder="Name" disabled>
                    </div>
                    <input id="computerReserveInput" hidden="hidden" name="computerId">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="studentReserveInput">Student</label>
                        <select class="form-select" id="studentReserveInput" name="studentId">
                            <option th:each="student:${students}" th:text="${student.getName()}" th:value="${student.getId()}" ></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="date">Date</span>
                        <input type="date" class="form-control" aria-label="date" aria-describedby="date" name="reservationDate">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="day">Day</span>
                        <input type="text" class="form-control" placeholder="Day" aria-label="day"
                               aria-describedby="day" name="duration">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Reservation Computer Modal -->
<script>

    function onUpdateClick(id,brand,model){

        document.getElementById("updateForm").action = "/computer/" + id;
        console.log("onUpdateClick"+ id);
        document.getElementById("modelUpdateInput").value = model;
        document.getElementById("brandUpdateInput").value = brand;
    }
    function onDeleteClick(id,brand,model){

        document.getElementById("deleteForm").action = "/computer/" + id + "/delete";
        document.getElementById("modelDeleteInput").value = model;
        document.getElementById("brandDeleteInput").value = brand;
    }

    function onReserveClick(id,brand,model){


        document.getElementById("computerReserveInputDummy").value = brand + " - " +model;
        document.getElementById("studentReserveInput").value = brand;
        document.getElementById("computerReserveInput").value=id;
    }

</script>
</body>

</html>
