<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="component/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <h4 class="display-3">Login</h4>
            <br>
            <div th:insert="component/popup_message :: popup_message"></div>
            <br>
            <form onsubmit="submitLogin()">
                <div class="input-group mb-4">
                    <span class="input-group-text">Username:</span>
                    <input type="text" id="username" name="username" aria-label="Username"
                           aria-describedby="basic-addon1" class="form-control">
                </div>

                <div class="input-group mb-4">
                    <span class="input-group-text">Password:</span>
                    <input type="password" id="password" name="password" aria-label="password"
                           aria-describedby="basic-addon1" class="form-control">
                </div>

                <input type="submit" value="Login" class="btn btn-primary input-group mb-4">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script>
    function submitLogin() {
        event.preventDefault();

        // Get the values of username and password fields
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;

        // Create an object with the data to be sent in the request body
        let data = {
            username: username,
            password: password
        };

        // Make a POST request to the login endpoint
        fetch('/api/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(async response => {
                if (response.ok) {
                    let res_json = await response.json();
                    localStorage.setItem("accessToken", res_json.token);
                    window.location.href = '/';
                } else {
                    let resBody = await response.text();
                    showError('Error: ' + response.status + ' ' + resBody);
                }
            })
            .catch(error => {
                showError(error)
                console.error('Error:', error);
            });
    }
</script>

</body>
</html>
