<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div th:insert="component/header :: header"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <h4 class="display-3">Register</h4>
            <br>
            <br>
            <form onsubmit="submitRegister()">
                <div class="input-group mb-4">
                    <span class="input-group-text">Username:</span>
                    <input type="text" id="username" name="username" aria-label="username"
                           aria-describedby="basic-addon1" class="form-control">
                </div>

                <div class="input-group mb-4">
                    <span class="input-group-text">Password:</span>
                    <input type="password" id="password" name="password" aria-label="password"
                           aria-describedby="basic-addon1" class="form-control">
                </div>

                <div class="input-group mb-4">
                    <span class="input-group-text">Full Name:</span>
                    <input type="text" id="fullName" name="fullName" aria-label="fullName"
                           aria-describedby="basic-addon1" class="form-control">
                </div>

                <div class="input-group mb-4">
                    <span class="input-group-text">Department:</span>
                    <input type="text" id="department" name="department" aria-label="department"
                           aria-describedby="basic-addon1" class="form-control">
                </div>

                <input type="submit" value="Register" class="btn btn-primary input-group">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script>
    function submitRegister() {
        event.preventDefault(); // Prevent the default form submission

        // Get the values of input fields
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        let fullName = document.getElementById("fullName").value;
        let department = document.getElementById("department").value;

        // Create an object with the data to be sent in the request body
        let data = {
            username: username,
            password: password,
            fullName: fullName,
            department: department
        };

        // Make a POST request to the register endpoint
        fetch('/api/auth/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                // Handle the response
                if (response.ok) {
                    // Success message
                    console.log('Registration successful');
                    window.location.href = '/';
                } else {
                    // Handle the error
                    console.error('Registration failed');
                }
            })
            .catch(error => {
                // Handle any error that occurs during the request
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>
