<!--suppress ThymeleafVariablesResolveInspection -->
<div th:fragment="header">
    <div class="bg-primary mb-2 p-3 rounded-bottom-2 container-fluid">
        <div class="d-flex flex-wrap align-content-center container">
            <a class="flex-column btn fs-2 text-white" href="/">CLM</a>
            <a class="flex-column align-content-center btn btn-primary fs-5">Computers</a>
            <a class="flex-column align-content-center btn btn-primary fs-5">Students</a>
            <a class="flex-column me-auto align-content-center btn btn-primary fs-5">Reservations</a>

            <a id="btn-login" class="flex-column align-content-center btn btn-primary fs-5"
               href="/auth/login">Login</a>
            <a id="btn-register" class="flex-column align-content-center btn btn-primary fs-5"
               href="/auth/register">Register</a>
            <a id="btn-user" hidden="hidden" class="flex-column align-content-center btn btn-primary fs-5"
               href="/user"></a>
            <a id="btn-logout" hidden="hidden" onclick="logout()"
               class="flex-column align-content-center btn btn-primary fs-5">Logout</a>
        </div>
    </div>
    <div th:if="${successMessage != null}">
        <div class="alert alert-success" role="alert" th:text="${successMessage}">{success}</div>
    </div>
    <div th:if="${errorMessage != null}">
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}">{error}</div>
    </div>

    <script src="/js/app-script.js"></script>
    <script>
        function validateLogin() {
            let token = localStorage.getItem('accessToken');
            if (token === null) {
                return;
            }

            getUser()
                .then(data => {
                    document.getElementById('btn-login').hidden = true;
                    document.getElementById('btn-register').hidden = true;

                    // show user and logout buttons
                    document.getElementById('btn-user').hidden = false;
                    document.getElementById('btn-logout').hidden = false;

                    // set username
                    document.getElementById('btn-user').innerText = data.username;
                })
                .catch(error => {
                    // Handle any error that occurs during the request
                    console.error('Error:', error);
                });
        }

        function logout() {
            localStorage.removeItem('accessToken');
            window.location.href = '/';
        }

        // Call the function to validate login directly. update the header on startup
        validateLogin();
    </script>
</div>

