<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div th:insert="~{components/header :: header(Reservation)}"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Student Name</th>
            <th>Computer</th>
            <th>Start</th>
            <th>Duration</th>
            <th>isReturned?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.getStudent().getName()}">{name}</td>
            <td th:text="|${reservation.getComputer().getBrand()} ${reservation.getComputer().getModel()}|">
                {department}
            </td>
            <td th:text="${reservation.getDateFormatted()}">{start}</td>
            <td th:text="|${reservation.getDuration()} days|">{duration}</td>
            <td class="bg-success text-center text-white fs-4" th:if="${reservation.getIsReturned()}">Yes</td>
            <td class="bg-danger text-center text-white fs-4" th:if="${!reservation.getIsReturned()}">No</td>
            <td>
                <button class="btn btn-success"
                        th:attr="onclick=|onReturnReserveClick(${reservation.getId()})|"
                        data-bs-toggle="modal" data-bs-target="#returnReservation">return
                </button>
                <button class="btn btn-primary"
                        th:attr="onclick=|onUpdateClick(${reservation.getId()}, ${reservation.getComputer().getId()}, ${reservation.getStudent().getId()}, '${reservation.getDateFormatted()}', ${reservation.getDuration()})|"
                        data-bs-toggle="modal" data-bs-target="#updateReservation">
                    Update
                </button>
                <button class="btn btn-danger"
                        th:attr="onclick=|onDeleteClick(${reservation.getId()}, '${reservation.getStudent().getName()}', '${reservation.getStudent().getDepartment()}', '${reservation.getComputer().getBrand()}', '${reservation.getComputer().getModel()}', '${reservation.getDateFormatted()}', ${reservation.getDuration()})|"
                        data-bs-toggle="modal" data-bs-target="#deleteReservation">
                    Delete
                </button>
                <button class="btn btn-secondary"
                        th:attr="onclick=|onReReserveClick(${reservation.getId()}, ${reservation.getComputer().getId()}, ${reservation.getStudent().getId()}, '${reservation.getDateFormatted()}', ${reservation.getDuration()})|"
                        data-bs-toggle="modal" data-bs-target="#reReservation">Reserve
                </button>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Reservation Update Modal -->
<div class="modal fade" id="updateReservation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update the reservation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="reservationForm" th:action="@{/reservation}" method="post">
                <div class="modal-body">
                    <!-- computer dropdown menu input -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="computerReserveInput">Computer</label>
                        <select class="form-select" id="computerReserveInput" name="computerId">
                            <option th:each="computer:${computers}"
                                    th:text="|${computer.getBrand()} - ${computer.getModel()}|"
                                    th:value="${computer.getId()}"></option>
                        </select>
                    </div>

                    <!-- student dropdown menu input -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="studentReserveInput">Student</label>
                        <select class="form-select" id="studentReserveInput" name="studentId">
                            <option th:each="student:${students}"
                                    th:text="|${student.getName()} - ${student.getDepartment()}|"
                                    th:value="${student.getId()}"></option>
                        </select>
                    </div>

                    <!-- date input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="date">Date</span>
                        <input type="date" class="form-control" aria-label="date" aria-describedby="date"
                               name="reservationDate" id="reservationDateInput">
                    </div>

                    <!-- duration in days input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="day">Day</span>
                        <input type="text" class="form-control" placeholder="Day" aria-label="day"
                               aria-describedby="day" name="duration" id="reservationDurationInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Reservation Update Modal -->

<!-- Delete Student Modal -->
<div class="modal fade" id="deleteReservation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Reservation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteForm" th:action="@{/reservation}" method="post">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="computerSpan">Computer</span>
                        <input type="text" class="form-control" id="computerDeleteInput" aria-label="computerSpan"
                               aria-describedby="computerSpan" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="studentSpan">Student</span>
                        <input type="text" class="form-control" id="studentDeleteInput" aria-label="studentSpan"
                               aria-describedby="studentSpan" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="dateSpan">Date</span>
                        <input type="text" class="form-control" id="dateDeleteInput" aria-label="dateSpan" disabled>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="durationSpan">Days</span>
                        <input type="text" class="form-control" id="durationDeleteInput" aria-label="durationSpan"
                               disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Student Modal -->


<!-- Reservation Update Modal -->
<div class="modal fade" id="reReservation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Update the reservation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="reReservationForm" th:action="@{/reservation}" method="post">
                <div class="modal-body">
                    <!-- computer dropdown menu input -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="computerReReserveInput">Computer</label>
                        <select class="form-select" id="computerReReserveInput" name="computerId">
                            <option th:each="computer:${computers}"
                                    th:text="|${computer.getBrand()} - ${computer.getModel()}|"
                                    th:value="${computer.getId()}"></option>
                        </select>
                    </div>

                    <!-- student dropdown menu input -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="studentReReserveInput">Student</label>
                        <select class="form-select" id="studentReReserveInput" name="studentId">
                            <option th:each="student:${students}"
                                    th:text="|${student.getName()} - ${student.getDepartment()}|"
                                    th:value="${student.getId()}"></option>
                        </select>
                    </div>

                    <!-- date input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="reReservationDate">Date</span>
                        <input type="date" class="form-control" aria-label="date" aria-describedby="date"
                               name="reservationDate" id="reReservationDateInput">
                    </div>

                    <!-- duration in days input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="reReservationDay">Day</span>
                        <input type="text" class="form-control" placeholder="Day" aria-label="reReservationDay"
                               aria-describedby="reReservationDay" name="duration" id="reReservationDurationInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Reservation Update Modal -->

<!-- Reservation Return Modal -->
<div class="modal fade" id="returnReservation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Do you want to return the reservation ?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="returnReservationForm" th:action="@{/reservation}" method="post">
                <div class="modal-body">
                    <button type="submit" class="btn btn-success">Yes</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Reservation Return Modal -->

<script>
    function onUpdateClick(id, computerId, studentId, date, duration) {
        document.getElementById("reservationForm").action = "/reservation/" + id;
        document.getElementById("computerReserveInput").value = computerId;
        document.getElementById("studentReserveInput").value = studentId;
        document.getElementById("reservationDateInput").value = date;
        document.getElementById("reservationDurationInput").value = duration;
    }

    function onDeleteClick(id, studentName, studentDepartment, computerBrand, computerModel, date, duration) {
        document.getElementById("deleteForm").action = "/reservation/" + id + "/delete";
        document.getElementById("computerDeleteInput").value = computerBrand + " - " + computerModel;
        document.getElementById("studentDeleteInput").value = studentName + " - " + studentDepartment;
        document.getElementById("dateDeleteInput").value = date;
        document.getElementById("durationDeleteInput").value = duration;
    }

    function onReReserveClick(id, computerId, studentId, date, duration) {
        document.getElementById("computerReReserveInput").value = computerId;
        document.getElementById("studentReReserveInput").value = studentId;
        document.getElementById("reReservationDateInput").value = date;
        document.getElementById("reReservationDurationInput").value = duration;
    }

    function onReturnReserveClick(id) {
        document.getElementById("returnReservationForm").action = "/reservation/" + id + "/return";
    }
</script>
</body>
</html>
