<!--suppress ThymeleafVariablesResolveInspection -->
<div th:fragment="header(subtitle)">
    <a style="color: black; text-decoration: 0" href="/"><h1 class="my-3">Computer Lab Management</h1></a>
    <div th:if="subtitle != null">
        <h2 class="mb-3" th:text="${subtitle}">{subtitle}</h2>
    </div>
    <div th:if="${successMessage != null}">
        <div class="alert alert-success" role="alert" th:text="${successMessage}">{success}</div>
    </div>
    <div th:if="${errorMessage != null}">
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}">{error}</div>
    </div>
</div>
