<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComputerLab</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>

<div class="container">
    <div th:insert="components/header :: header(null)"></div>
    <br>
    <button class="btn btn-primary align-content-center" onclick="window.location.href='/student'">Students</button>
    <br><br>
    <button class="btn btn-primary" onclick="window.location.href='/computer'">Computers</button>
    <br><br>
    <button class="btn btn-primary" onclick="window.location.href='/reservation'">Reservations</button>
</div>
</body>
</html>
